@model IEnumerable<Bookshelf_FL.ViewModels.BookViewModels.BookListViewModel>
@{
    ViewBag.Title = "Книги";
}

<div id="ContainerOfBody">

    <div id="left_columnOfBody">

        <h2>Усі книги</h2>

        <a asp-action="Create">Додати книгу</a>

        <form id="search-form" asp-controller="Book" asp-action="SearchBook" method="post">
            <input type="text" id="book-search" name="SearchQuery" placeholder="Пошук книги...">
            <button type="submit" id="search-button">Пошук</button>
        </form>

    </div>

    <div id="right_columnOfBody" style="padding-top: 4%">

        <div class="ContainerOfBookList">

            @await Html.PartialAsync("_ListOfBooksPartial", Model)

        </div>

    </div>

</div>