@model Bookshelf_FL.ViewModels.AdminViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редагування користувача";
}
<form asp-action="Edit" asp-controller="Admin">
    <div asp-validation-summary="All"></div>
    
    <div>
        <input type="hidden" asp-for="Id" />
    </div>

    <div>
        <label asp-for="Login">Login</label>
        <input type="text" asp-for="Login"/>
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email"/>
    </div>

    <div>
        <input type="submit" value="Зберегти"/>
    </div>
</form>