@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Account" asp-action="Login">Вхід</a>
<a asp-controller="Account" asp-action="ForgotPassword">Забули пароль?</a>
<a asp-controller="Account" asp-action="Register">Реєстрація</a>